.container {
    border-style: solid;
    width: 25%;
    height: 300px;
    background-color: pink;
    /*.inline-block,*/
    /*.wrap,*/
    /*.vertical-flex-start {*/
    /*    display: inline-block;*/
    /*}*/











}
.card-header {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.card-body {
    position: relative;
    top: 200px;
    text-align: center;
}

.card-footer {
    position: relative;
    top: 230px
}